body {
  margin: 0;
  padding: 2rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: #f0f0f0;
  color: #333;
}

button:hover {
  cursor: pointer
}

.root {
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 1rem;
  width: 100%;
  height: calc(100vh - 4rem);
}

